footer.footer
    .container.footer__row
        .footer__column
            a(href="index.html").footer__logo
                div
                    svg(width="15" height="25")
                        use(xlink:href="#icon-logo")
                    span Сад<br>Эко
                span.footer__logo-text Питомник Туй
            p.footer__copy Соглашение на обработку персональных данных
        .footer__column
            ul.footer__list
                li.footer__item
                    a(href="#").footer__item-link Главная
                li.footer__item
                    a(href="#").footer__item-link Каталог
                li.footer__item
                    a(href="#").footer__item-link Отзывы
                li.footer__item
                    a(href="#").footer__item-link Консультация
                li.footer__item
                    a(href="#").footer__item-link Посадка за 1 день
                li.footer__item
                    ul.footer__social-list
                        li
                            a(href="#")
                                span.visually-hidden Facebook
                                svg(width="19" height="30")
                                    use(xlink:href="#icon-fb")
                        li
                            a(href="#")
                                span.visually-hidden Instagramm
                                svg(width="24" height="24")
                                    use(xlink:href="#icon-insta")
                        li
                            a(href="#")
                                span.visually-hidden Вконтакте
                                svg(width="34" height="22")
                                    use(xlink:href="#icon-vk")
        .footer__column
            a(href="#").footer__link.button Заказать звонок
            a(href="tel:88007000101").footer__tel-link 8 (800) 700-01-01


