section.catalog
    .container
        h2.catalog__caption.h2
            a(href="#") Каталог&nbsp;
            |туй
        ul.catalog__list.fancy-container
            li.catalog__item
                .catalog__img(data-index="0")
                    picture
                        source(srcset="img/catalog-1.webp" type="image/webp")
                        img(src="img/catalog-1.png", alt="Фото каталога")
                p.catalog__item-caption Туя Брабант
                ul.catalog__parameter-list
                    li.catalog__parameter-item 0.3 - 6м
                    li.catalog__parameter-item
                        |от&nbsp;
                        span 400 Р
            li.catalog__item
                .catalog__img(data-index="1")
                    picture
                        source(srcset="img/catalog-2.webp" type="image/webp")
                        img(src="img/catalog-2.png", alt="Фото каталога")
                p.catalog__item-caption Туя крупномер
                ul.catalog__parameter-list
                    li.catalog__parameter-item 2 - 9м
                    li.catalog__parameter-item
                        |от&nbsp;
                        span 14 000 Р
            li.catalog__item
                .catalog__img(data-index="2")
                    picture
                        source(srcset="img/catalog-3.webp" type="image/webp")
                        img(src="img/catalog-3.png", alt="Фото каталога")
                p.catalog__item-caption Туя Шаровидная
                ul.catalog__parameter-list
                    li.catalog__parameter-item 0.1 - 3м
                    li.catalog__parameter-item
                        |от&nbsp;
                        span 2 200 Р
            li.catalog__item
                .catalog__img(data-index="3")
                    picture
                        source(srcset="img/catalog-4.webp" type="image/webp")
                        img(src="img/catalog-4.png", alt="Фото каталога")
                p.catalog__item-caption Туя Смарагд
                ul.catalog__parameter-list
                    li.catalog__parameter-item 0.5 - 6м
                    li.catalog__parameter-item
                        |от&nbsp;
                        span 600 Р
            li.catalog__item
                .catalog__img(data-index="4")
                    picture
                        source(srcset="img/catalog-5.webp" type="image/webp")
                        img(src="img/catalog-5.png", alt="Фото каталога")
                p.catalog__item-caption Туя Blue Arrow
                ul.catalog__parameter-list
                    li.catalog__parameter-item 2.2 - 5м
                    li.catalog__parameter-item
                        |от&nbsp;
                        span 3 000 Р
        p.catalog__text Подключите консультанта для помощи в выборе
        a(href="#").catalog__btn.button + Консультант
