section.comment.slider
    .container
        h2.comment__caption.h2
            |Почитайте, что говорят&nbsp;
            a(href="#") наши
            |&nbsp;клиенты
        .swiper-container
            .swiper-wrapper
                article.comment__item.swiper-item
                    ul.comment__img-list
                        li.comment__img-item
                            picture
                                source(srcset="img/review-1.webp" type="image/webp")
                                img(src="img/review-1.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-2.webp" type="image/webp")
                                img(src="img/review-2.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-3.webp" type="image/webp")
                                img(src="img/review-3.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-4.webp" type="image/webp")
                                img(src="img/review-4.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-5.webp" type="image/webp")
                                img(src="img/review-5.png", alt="Фото к коментарию")
                    .comment__column
                        p
                            |Очень довольна данной компанией, не пожалела,
                            |что обратилась! Теперь мой сад выглядит потрясающе!
                            |Я очень люблю туи и предстоял сложный выбор питомника.
                            |Сотрудники данной комании всё посадили, обработали в
                            |кратчайшее время.
                        cite Татьяна Иванова
                        time(datetime="2019-06-30") 30 июня
                article.comment__item.swiper-item
                    ul.comment__img-list
                        li.comment__img-item
                            picture
                                source(srcset="img/review-1.webp" type="image/webp")
                                img(src="img/review-1.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-2.webp" type="image/webp")
                                img(src="img/review-2.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-3.webp" type="image/webp")
                                img(src="img/review-3.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-4.webp" type="image/webp")
                                img(src="img/review-4.png", alt="Фото к коментарию")
                        li.comment__img-item
                            picture
                                source(srcset="img/review-5.webp" type="image/webp")
                                img(src="img/review-5.png", alt="Фото к коментарию")
                    .comment__column
                        p
                            |Очень довольна данной компанией, не пожалела,
                            |что обратилась! Теперь мой сад выглядит потрясающе!
                            |Я очень люблю туи и предстоял сложный выбор питомника.
                            |Сотрудники данной комании всё посадили, обработали в
                            |кратчайшее время.
                        cite Татьяна Иванова
                        time(datetime="2019-06-30") 30 июня
        .comment__button-row
            button.js-btn-next(type="button") НАлево
            button.js-btn-prev(type="button") Направо



