.gallery-popup.visually-hidden
    .slider-gallery
        .gallery-popup__container.swiper-container
            .gallery-popup__list.swiper-wrapper
        button.gallery-popup__btn.js-btn-prev(type="button")
            svg(width="21" height="36")
                use(xlink:href="#icon-arrow-left")
        button.gallery-popup__btn.js-btn-next(type="button")
            svg(width="21" height="36")
                use(xlink:href="#icon-arrow-left")
        button.gallery-popup__btn-close.js-btn-next(type="button")
            svg(width="35" height="35")
                use(xlink:href="#icon-close")
        template(id="gallery-template")
            .gallery-popup__item.swiper-slide
                picture
                    source(srcset="" type="image/webp")
                    img(src="", alt="питомник изнутри фото")
