section.services
    .container
        h2.services__caption.h2
            |Посадим туи
            a(href="#") &nbsp;за 1 день
        ul.services__list
            li.services__item
                .services__img
                    picture
                        source(srcset="img/planting-1.webp" type="image/webp")
                        img(src="img/planting-1.png")
                p.services__item-caption Логистика
                p.services__item-text Погрузим и отвезем туи самостоятельно
            li.services__item
                .services__img
                    picture
                        source(srcset="img/planting-2.webp" type="image/webp")
                        img(src="img/planting-2.png")
                p.services__item-caption Посадка
                p.services__item-text Подготовим грунти и посадим все деревья
            li.services__item
                .services__img
                    picture
                        source(srcset="img/planting-3.webp" type="image/webp")
                        img(src="img/planting-3.png")
                p.services__item-caption Обработка
                p.services__item-text От вредителей и болезней для долгой жизни туи
            li.services__item
                .services__img
                    picture
                        source(srcset="img/planting-4.webp" type="image/webp")
                        img(src="img/planting-4.png")
                p.services__item-caption Гарантия 2 года
                p.services__item-text Гарантия по договору

